<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="pull-left" href="#"><img src="/images/logo.png" id="logo"></a>
      <a class="navbar-brand">WatJobs</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav align-middle" id="main-navbar">
          <li><a href="/jobScreen/:dateInserted">JobList</a></li>
          <li><a href="/addJob">Add Job</a></li>
          <li><a href="/about">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right align-middle">
          <li><a id="usernameBox" href="/login">{{username}}</a></li>
          <li><a href="/createAccount">Create Account</a></li>
        </ul>
    </div>
  </nav>
</div>