<div id="add-form" class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
        <div class="input-group input-group-large">
            <form id="addJob">
            <span class="input-group-addon">Company</span><input id="company" placeholder="apple..." type="text" class="form-control">
            <span class="input-group-addon">Position</span><input id="position" placeholder="software dev..." type="text" class="form-control">
            <span class="input-group-addon">Location</span><input id="location" placeholder="cali..." type="text" class="form-control">
            <span class="input-group-addon">Salary</span><input id="salary" placeholder="1,000,000" type="number" class="form-control">
            <span class="input-group-addon">Ranking</span><input id="ranking" type="number" class="form-control">
            <button type="button" class ="btn-sm w-100" id="submit">Add Job</button>
            </form>
        </div>
    </div>