<div class="login-form">
	<h1>Create Account</h1>
		<form action="create-account" method="POST">
			<input type="text" name="username" placeholder="Username" required>
			<input type="password" name="password" placeholder="Password" required>
            <input type="text" name="program" placeholder="Program" required>
			<input type="submit">
	</form>
</div>
